*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1rem gray;
    padding: 2rem;
    gap: 1rem;
    border-radius: .25rem;
}

.charge-remain-amount{
    display: flex;
}

.charge-remain-amount>input{
    padding: .5rem;
    font-size: large;
}

.top-up-action{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.top-up-action>div{
    display: flex;
    gap: .25rem;   
}
.top-up-action>div>input{
    flex: 1;
    padding: .25rem;
    border: none;
    color: white;
    border-radius: .25rem;
    cursor: pointer;
}

.top-up-action>div:first-child>input{
    background-color: darkgreen;
}
.top-up-action>div:first-child>input:hover{
    background-color: green;
}

.top-up-action>div:last-child>input{
    background-color: darkred;
}
.top-up-action>div:last-child>input:hover{
    background-color: red;
}

.title{
    text-align: center;
    text-shadow: 1px 1px 2px gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}